/* *{
    margin: 0;
    padding: 0;
} */

body{
    margin: 0;
}

/* .body{
    background-image: url("https://m.media-amazon.com/images/I/71gSEKGZdAL.jpg");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
}

div{
    background-color: #cccccc;
    height: 50px;
    width: 600px;
    font-family: 'Unbounded', cursive;
}

div h1{
    font-size: 15px;
    color: red;
}

div{
    color: blueviolet;
}

#alejo-id{
    color: white;
    margin: 40px 20px 15px 10px;
    text-align: center;
}

.titulo-pagina{
    color: blue;
}

.titulo-pagina{
    color: rebeccapurple;
}
.lista-no-lista{
    list-style-type: none;
} */


.etiqueta-div{
    position: relative;
    /* background-color: brown;

    width: 100px;
    height: 90px;

    border-top: solid 15px red;
    border-bottom: dashed 5px blue;

    margin: 10px 20px 40px 12px; */

    /* padding: 200px; */
    width: 50%;
    height: 200vh;
    background-color: brown;
}

/* .bloque-absoluto{
    width: 200px;
    height: 20px;
    background-color: aqua;

    position: sticky;
    top: 92.2vh;
} */

ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 14px;
}

ul ul{
    position: absolute;
    display: none;
}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
}



